

/**Defining my image class for images beside eachother.**/
.centerImage {
display: flex;
justify-content: space-between;
flex-direction: row;
margin: auto 30%;
}


/**Defining the class for my portrait images.**/
.cI4B {
display: flex;
justify-content: space-between;
flex-direction: row;
justify-content: space-around;
}

/**Defining a class for my singular square images.**/
.center {
	display: block;
	margin: auto; 
	min-width: 15%;
	min-height: 15%;
}


/**Defining image class for Montreal image to make it a larger landscape image than the others.**/
.Montreal {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;

}



/**Calling my font files.**/
@font-face {
	font-family: "CreamCake";
	src: url(CreamCake.ttf);
	
}

/**^^**/
@font-face {
	font-family: "Apercu";
	src: url(Apercu.ttf);
	
}



/**Creating a gradient background.**/
body {
  background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(238,174,202,1) 100%);
}


/**Defining my paragraph attributes**/
p {

font-family: Apercu;
color: #605446;
text-align: center;
font-size: 20px;


}

/**Defining my header1 attributes**/
h1 {

font-family: CreamCake;
color: #605446;
text-align: center;
font-size: 45px;

}

/**Defining my header2 attributes**/
h2 {

font-family: Apercu;
color: #F3A54B;
text-align: center;
font-size: 30px;

}

/**Defining my image attributes.**/
img {

	width:320px;
	display: block;

}




